aiogram>=3.7.0
aiohttp>=3.9
aiosqlite>=0.20.0
alembic>=1.13.2
asyncpg>=0.29.0
fastapi==0.115.0
jinja2>=3.1
pydantic-settings>=2.2.1
PyGithub>=2.3.0
python-dotenv>=1.0.1
sentry-sdk>=2.0.0
SQLAlchemy>=2.0.30
starlette>=0.38.0
uvicorn[standard]==0.30.6
